<html>
<head>
	<title>Images of Potential Trafficked Persons</title>
</head>
<body>
	<div id="uploadImageBlock">
		<button type="button"><strong>Upload an Image.</strong></button>
	</div>
	<br>
	<div id="apiOutputBlock">
		<p>Do any of these images match your person? Select the image that resembles your person the most.</p>

		<table>
			<tr>
				<h3>Result 1 (Most Similar)</h3>
				<img src="">
				<p>Similarity: %</p>	
			</tr>
			<tr>
				<h3>Result 2</h3>
				<img src="">
				<p>Similarity: %</p>
			</tr>
			<tr>
				<h3>Result 3</h3>
				<img src="">
				<p>Similarity: %</p>
			</tr>
			<tr>
				<h3>Result 4</h3>
				<img src="">
				<p>Similarity: %</p>
			</tr>
			<tr>
				<h3>Result 5 (Least Similar)</h3>
				<img src="">
				<p>Similarity: %</p>
			</tr>
		</table>
		<h2>Does the person you're searching for match any of these images?
				If so, type the Result number in the field below. Otherwise type 0.</h2>
			<input type="text" name="result-retrieved" placeholder="Result Number">
			<input type="submit" value="Submit">
	</div>
</body>
</html>